<% include ../shared/pageHeader %>
<title>Error</title>
<% include ../shared/headerIncludes %>

<h1>Error (<%- error.status %>)</h1>
<%- message %>

<!-- <%- error.stack %> -->
  
<% include ../shared/pageFooter %>