<% include ../shared/pageHeader %>
<title>Error</title>
<% include ../shared/headerIncludes %>

<h1>Error</h1>
<%- message %>
<%- error.status %>
<!-- <%- error.stack %> -->
  
<% include ../shared/pageFooter %>