* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'weld-light', sans-serif;
	font-size: 3vh;
}

h1 {
	font-size: 2em;
	text-align: center;
}

main {
	position: absolute;
	width: 100%;
	height: 100%;
}

main.padded {
	padding: 1em;
}

.small {
	font-size: 0.7em;
}

.clickable {
	cursor: pointer;
}

/* Campaigns */

section {
	width: 100%;
	padding: 1em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero {
	justify-content: space-around;
	background-size: cover;
	background-position: center;
	height: 50%;
	background-color: #71c8db;
}

.light-text {
	color: white;
	text-shadow: 0 0.05em 0.1em rgba(0,0,0, 0.9);
}

.dark-text {
	color: black;
	text-shadow: 0 0.05em 0.1em rgba(255,255,255, 0.9);
}

.page-show-done .hero {
	height: 25%;
}

.tagline {
	text-align: center;
	font-size: 1.2em;
	padding-bottom: 0.3em;
	opacity: 0.6;
}

section.video {
	display: block;
	padding: 0;
}

/* Fluid video https://css-tricks.com/NetMag/FluidWidthVideo/Article-FluidWidthVideo.php */
.video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.form {
	flex-direction: row;
	justify-content: center;
	text-align: center;
	background-color: whitesmoke;
}

.done {
	justify-content: space-around;
	height: 20%;
	background-color: whitesmoke;
}

.description {
	display: block;
	text-align: center;
	margin-bottom: 1em;
}

.fineprint {
	font-size: 0.6em;
	background-color: gray;
	color: white;
}
.fineprint a {
	color: inherit;
}

/* Fixed bottom */

/*.description {
	margin-bottom: 4em;
}

.fineprint {
	position: fixed;
	bottom: 0;
}*/

/* ----- Responsive ----- */

@media (max-width: 480px) {
	.hero {
		height: 35%;
	}
	.form {
		flex-direction: column;
	}
	input, button {
		min-width: unset !important;
		width: 100%;
	}
}


/* ----- Admin page ----- */
.actions button,
.action-button {
	background-color: limegreen;
	color: white;
	font-size: 0.8em;
	padding: 0.5em 1em;
	min-width: auto;
	width: auto;
}

/* ----- Weld theme - remove later ----- */

.hero {
	/* gradient-blue: */
	background-color: #89a3e7;
	background-image: linear-gradient(135deg, #A06AFC 0%, #6CDFD2 100%);
}

button,
.button {
	background-color: #71c8db;
}


/* ----- Nice & Simple components ----- */

/* Nice & simple: Links */
a {
	color: dodgerblue;
	text-decoration: none;
	border-bottom: 1px dotted rgba(30, 143, 255, 0); /* dodgerblue transparent */
	transition: all 0.2s;
}
a:hover:not(.button) {
	opacity: 0.8;
	border-bottom: 1px dotted dodgerblue;
}

a.edit-link {
	color: inherit;
}

/* Nice & simple: Horisontal rule */
hr {
	border: 0;
	height: 1px;
	margin: 0.3em 0;
	background: rgba(0,0,0, 0.2);
}

label {
	max-width: 20em;
	margin: auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
label input {
	width: auto;
	flex: 1;
}

/* #NiceAndSimple: Button - http://codepen.io/tomsoderlund/pen/qqyzqp */
button,
.button {
	position: relative;
	background-color: #71c8db;
	color: white;
	border-radius: 0.2em;
	border: none;
	box-shadow: 0 0.125em 0.125em rgba(0,0,0, 0.3);
	box-sizing: border-box;
	display: inline-block;
	cursor: pointer;
	user-select: none;
	font-family: inherit;
	font-size: inherit;
	line-height: normal;
	font-weight: bold;
	min-width: 15em;
	text-align: center;
	outline: none;
	padding: 0.6em;
	margin: 0.2em;
	transition: all 0.1s;
}
button:focus:not(:disabled),
.button:focus:not(:disabled) {
	opacity: 0.8;
}
button:hover:not(:disabled),
.button:hover:not(:disabled) {
	opacity: 0.8;
	top: -0.1em;
	box-shadow: 0 0.2em 0.1em rgba(0,0,0, 0.2);
}
button:hover:active,
.button:hover:active {
	top: 0.1em;
	box-shadow: 0 0.02em 0.125em rgba(0,0,0, 0.4);
	transition: all 0.05s;
}
button:disabled,
.button:disabled {
	cursor: initial;
	background-color: silver;
}
a.button {
	text-decoration: none;
}

/* #NiceAndSimple: Input and Dropdown Menu - http://codepen.io/tomsoderlund/pen/GNBbWz */
input,
textarea,
select {
	background-color: white;
	color: inherit;
	outline: none;
	resize: none;
	box-shadow: inset 0 0.125em 0.125em rgba(0,0,0, 0.3);
	box-sizing: border-box;
	border-radius: 0.2em;
	border: 2px solid lightgray;
	font-family: inherit;
	font-size: inherit;
	min-width: 15em;
	padding: 0.6em;
	margin: 0.2em;
}
input:hover:not(:disabled):not(:focus),
.input-like:hover:not(:disabled):not(:focus),
textarea:hover:not(:disabled):not(:focus),
select:hover:not(:disabled):not(:focus) {
	border-color: silver;
}
input:focus,
.input-like:focus,
textarea:focus,
select:focus {
	border-color: darkgray;
}
input:read-only,
textarea:read-only {
	color: darkgray;
}
input:disabled,
.input-like:disabled,
textarea:disabled,
select:disabled {
	background-color: whitesmoke;
}
input::placeholder,
textarea::placeholder {
	color: lightgray;
}

/* Nice & simple: Table - https://codepen.io/tomsoderlund/pen/mmZrRR */
table {
	border-collapse: collapse;
}

td, th {
	padding: 0.5em;
}

thead tr {
	background-color: #708090;
	color: white;
}

tr:nth-child(2n+0) {
	background-color: #cfd5da;
}
