<% include ../shared/pageHeader %>
<title><%- campaign.title %></title>
<% include ../shared/headerMetaTags %>
<% include ../shared/header %>
</head>

<body>
<main>

	<section class="hero" style="background-image: url(<%= campaign.imageUrl %>);">
		<h1><%= campaign.title %></h1>
		<p class="tagline"><%= campaign.tagline %></p>
	</section>
	<section class="form">
		Thank you!
	</section>
	<section class="fineprint">
		This is a campaign by Weld (Weld Your Own App AB). For questions or if you want to be removed, email contact@weld.io.
	</section>

<% include ../shared/pageFooter %>